name: ci

on:
  pull_request:
    branches:
      - main
  pull_request_target:
    types:
      - labeled

jobs:
  test:
    if:  ${{ ! (github.event.pull_request.head.repo.fork && github.actor == 'dependabot[bot]') }} || contains(github.event.pull_request.labels.*.name, 'safe to test')
    uses: signoz/primus.workflows/.github/workflows/go-test.yaml@main
    secrets: inherit
    with:
      PRIMUS_REF: main
      GO_TEST_CONTEXT: ./...
  fmt:
    if:  ${{ ! (github.event.pull_request.head.repo.fork && github.actor == 'dependabot[bot]') }} || contains(github.event.pull_request.labels.*.name, 'safe to test')
    uses: signoz/primus.workflows/.github/workflows/go-fmt.yaml@main
    secrets: inherit
    with:
      PRIMUS_REF: main
  lint:
    if:  ${{ ! (github.event.pull_request.head.repo.fork && github.actor == 'dependabot[bot]') }} || contains(github.event.pull_request.labels.*.name, 'safe to test')
    uses: signoz/primus.workflows/.github/workflows/go-lint.yaml@main
    secrets: inherit
    with:
      PRIMUS_REF: main
